./picoCTF/PicoGym/Reverse Engineering/droids1/jre/
./picoCTF/PicoGym/Reverse Engineering/droids1/one.apk.cache/
./picoCTF/PicoGym/Reverse Engineering/droids1/jadx-gui-1.4.3.exe
./picoCTF/PicoGym/Reverse Engineering/droids1/one.apk.jadx